<header id="telecod-navbar" class="telecod-navbar">
  <div class="nav-container">
    <a class="nav-logo" href="../index.html"><span>✈</span><b>TeleCod</b></a>
    <nav class="nav-links">
      <a href="../index.html">Beranda</a>
      <a href="../marketplace.html">Marketplace</a>
      <a href="../sell-buy.html">Jual & Beli</a>
      <a href="../payment.html">Payment</a>
      <a href="../profile.html">Profil</a>
      <a href="../settings.html">Pengaturan</a>
    </nav>
    <button class="nav-menu-btn" id="navMenuBtn" type="button">☰</button>
  </div>
</header>